@font-face {
  font-family: "iconfont"; /* Project id 4764016 */
  src: url('iconfont.woff2?t=1732804263943') format('woff2'),
       url('iconfont.woff?t=1732804263943') format('woff'),
       url('iconfont.ttf?t=1732804263943') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e60a";
}

.icon-chushimao:before {
  content: "\e8b7";
}

.icon-31wode:before {
  content: "\e600";
}

.icon-xiaoxi_o:before {
  content: "\ebc9";
}

.icon-mingchu:before {
  content: "\e92c";
}

.icon-shouye-zhihui:before {
  content: "\e61d";
}

.icon-plus_full:before {
  content: "\ea6c";
}

